# OCaml build artifacts
*.cmi
*.cmo
*.cma
*.cmx
*.cmxa
*.a
*.o
*.cmxs
*.cmt
*.cmti
*.annot

# OCaml native toplevel
*.opt

# OCaml tools
.ocamlinit
.ocamlformat
.merlin

# Dune build directory
_build/

# Dune project files
*.install

# OPAM switch files
*.opam-switch/

# utop history
.utop-history

# Mac OS X artifacts
.DS_Store

# VSCode settings
.vscode/